<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Edit Profile</title>
</head>

<body>
    <main class="container" style="height: 100%; width: 600px;">
        <h1>Edit Profile</h1>

        <form data-id="{{ user['id'] }}" class="w-full mt-2 flex flex-col gap-1" method="POST">
            <label for="name" class="semibold">Name</label>
            <input value="{{ user['name'] }}" type="text" name="name" id="name" placeholder="name" required>
            <label for="email" class="semibold">Email</label>
            <input value="{{ user['email'] }}" readonly type="email" name="email" id="email"
                placeholder="name@example.com" required>
            <label for="role" class="semibold">Role</label>
            <input value="{{ user['role'] }}" type="text" name="role" id="role" placeholder="e.g Software Engineer"
                required>
            <button class="btn semibold text-lg" type="submit">Save changes</button>
        </form>
    </main>

    <script>
        const form = document.querySelector("form")

        form.addEventListener("submit", async (e) => {
            e.preventDefault()

            const userId = e.target.getAttribute("data-id")
            const user = {
                name: e.target.name.value,
                email: e.target.email.value,
                role: e.target.role.value
            }

            const resp = await fetch(`/update-user/${userId}`, {
                method: "PUT",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(user)
            })

            alert("User updated successfully")

            window.location.href = "/"
        })
    </script>
</body>

</html>